.hero {
  background: lightgrey no-repeat center;
  background-size: cover;
  display: block;
  max-height: 100vh;
  height: 80vw;
  padding-top: 30vw;
  text-align: left;

  .hero-container {
    float: right;
    max-width: 100vw;
    min-width: 40vw;

    .hero-title {
      opacity: 0.6;
      font-style: italic;
    }
    
    button {
      background-color: black;
      color: white;
      padding: 10px 20px;
      font-size: 2rem;
      opacity: 0.8;
      border: none;
    }
  }
  
  .hero-container:after {
    clear: both;
  }
}