aside {
  box-sizing: border-box;
  width: 290px;
  padding: 10vh 0 5vh;
  height: 100vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
